/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col img{
  width: 100%;
  padding: 5px;
}

.col1{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.col1 img{
  width: 100%;
  justify-content: center;
}

.col2{
  display: flex;
  flex-direction: column;
}

.col2 p{
  text-align: left;
}
.col2 ul{
  float: left;
}

.col2 img{
width: 100%;
justify-content: center;
}



/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  /*padding: 20px 20px 0 20px; */
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


form label {
  font-weight: bold;
  display: flex;
  float: left;
  padding-left: 15px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  float: right;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
 
  p {
    font-size: 24px;
  }

  main img {
    width: 550px;
  }


  .logo {
    font-family: "Pangolin", cursive;
    font-size: 35px;
    color: #fff;
    display: flex;
    flex-direction: row;
  }

  header {
    background-color: hsl(349, 100%, 61%);
    padding: 20px 20px 0 20px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav ul li {
    list-style-type: none;
    font-size: 15px;
    display: inline;
    }

  form{
    display: flex;
    flex-direction: row;
  }

  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    margin: 15px;
    max-width: 130px;
    height: 45px;
    font-size: 20px;
}

  form select, form input {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 180px;
    float: left;
  }


 .col{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .row{
    display: flex;
    flex-direction: row;
  }

  .row img{
    width: 100%;
  }

  .deskcol{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .px5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .quarter{
    width: 25%;
  }

  .full {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }

  p{
    font-size: 12px;
    vertical-align: center;
  }

  .vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px;
  }

  .row1{
    display: flex;
    flex-direction: row;
    width: 100%
  }

  .col2{
    width: 100%;
    align-items: center;
    flex: 1;
  }
  
}
